{
  "semi": false,
  "singleQuote": true,
  "printWidth": 180,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "none",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "endOfLine": "auto",
  "htmlWhitespaceSensitivity": "ignore",
  "vueIndentScriptAndStyle": false,
  "quoteProps": "as-needed",
  "proseWrap": "preserve",
  "jsxSingleQuote": false,
  "bracketSameLine": false,
  "embeddedLanguageFormatting": "auto",
  "pugCommentPreserveSpaces": "keep-all",
  "pugSortAttributes": "desc",
  "pugFramework": "vue",
  "pugSingleFileComponentIndentation": true,
  "pugClassNotation": "as-is",
  "plugins": ["@prettier/plugin-pug", "prettier-plugin-tailwindcss"]
}
